.search-form {
  max-width: 500px;  /* reduced from a larger value */
  width: 100%;
  display: flex;
  align-items: center;
 
}
.search-input {
  width: 100%;
  max-width: 500px;  /* adjust this value to reduce the length */
  padding: 0.7rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
} 
/* Focus style */
.search-input:focus {
  border-color: #0055a5;   /* Change to a deeper blue */
  outline: none;
  box-shadow: 0 0 5px rgba(0, 85, 165, 0.5);
}
.search-button {
  padding: 0.75rem 1rem;
  background-color: #003366;
  border: none;
  border-radius: 0 4px 4px 0;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.search-button:hover {
  background-color: #002244;
}